venv/
greatkart/greatkart/__pycache__/
greatkart/static/
static/
greatkart/category/__pycache__
.env
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
