# Container Commands
container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true
  02_createsuperuser:
    command: "source /var/app/venv/*/bin/activate && echo \"from django.contrib.auth import get_user_model; User = get_user_model(); User.objects.create_superuser('abdur', 'rahmaan','abdurrahmaan','1622abdurrahmaan@gmail.com', '1622Abdur@')\" | python manage.py shell"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: greatkart.settings